@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  /* outline: solid 1px blue; */
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  
}

button {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border: none;
  border-radius: 0.2em;
  font-size: 18px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: #41099b;
}
ol,
ul {
  list-style: none;
}
body {
  background-color: #f8f8f8;
}
.mainframe {
  width: 100%;
  max-width: 1200px;
  min-width: 1200px;
  margin: 0px auto;
}

.header {
  width: 100%;
  height: 60px;
  margin: 50px 0 20px 0;

  line-height: 45px;
  border-top: 3px solid #f1eeee;
  border-bottom: 3px solid #f1eeee;
  background: #f8f8f8;
}

.header #logo {
  display: inline-block;
  width: 210px;
}

#logo img {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}

.test {
  display: inline-block;
  width: 980px;
}

.header-nav-notlogo {
  display: flex;
}

.header-nav-list {
  padding-left: 50px;
}

.header-nav-list ul {
  display: flex;
  justify-items: stretch;
  gap: 120px;
  font-size: 18px;
}

.header-nav-list-login-form {
  margin-left: auto;
}

.main {
  float: right;
  width: 950px;
  background-color: #f1eeee;
  padding-bottom: 20px;
  margin-bottom: 150px;

}

.info, .resultInfo {
  margin: 15px 10px;
  background-color: rgb(252, 252, 252);
  border-radius: 0.8em;
  padding: 10px 15px;
}

.resultInfo{
    font-size: 38px;
}
.side-nav {
  width: 230px;
  background-color: #f1eeee;
  float: left;
  margin-bottom: 150px;
  padding: 0 5px;
}
.whie-bar {
  margin: 20px auto;
  background-color: rgb(224, 0, 0);
  width: 170px;
  height: 2px;
}

.lastest-score {
  padding: 0px 10px;
}

.score-card {
  margin: 15px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 0.8em;
  padding: 10px 15px;
}

.score-card img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 0.8em;
}


.footer {
  clear: both;
  background-color: #f1eeee;
  width: 100%;
  height: 250px;
  
}

.main-wrapper {
  margin-left: 20px;
 
}
.main-div-card {
  width: 445px;
  height: 320px;
  margin: 20px 20px 0 0;
  background-color: rgb(250, 250, 250);
  float: left;
  
  border-radius: 0.8em;
}

.main-div-card-two{
width: 910px;
  height: 320px;
  margin: 20px 20px 0 0;
  background-color: rgb(250, 250, 250);
  float: left;
  
  border-radius: 0.8em;
}

.scedule-card{
    width: 290px;
     height: 300px;
  margin: 20px 20px 0 0;
  background-color: rgb(250, 250, 250);
  float: left;
  border-radius: 0.8em;

}

.bord-test{
    margin: 20px 0;
    padding: 20px 0;
    background-color:#f8f8f8;
        border-radius: 0.8em;
        text-align: center;
        font-size:30px;
}

.bord-list-wrapper{
    width: 910px;
  margin-top: 20px;
    padding: 20px -20px 20px 20px;
    
}
.bord-list{
       background-color:#f8f8f8;
        border-radius: 0.8em;
        padding: 10px 0;
}

.bord-test-small{
    width: 15%;
    margin: 10px 10px 0 10px;
    padding: 20px 0;
    background-color:#f8f8f8;
        border-radius: 0.8em;
        text-align: center;
        font-size:20px;
    float: right;
}
.bord-list li{
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 18px;
}

#bord-id{
    display: inline-block;
    width: 10%;
    /* background-color: yellowgreen; */
    text-align: center;
}


#bord-title{
    display: inline-block;
    width: 70%;
    /* background-color: rgb(240, 255, 36); */
    padding-left: 20px;
}

#bord-user{
    display: inline-block;
    width: 10%;
    /* background-color: rgb(29, 126, 69); */
    text-align: center;
}

#bord-date{
    display: inline-block;
    width: 10%;
    /* background-color: rgb(214, 111, 14); */
    text-align: center;
}